@{
    ViewBag.Title = "Ops";
}

<h2>Текущие доступные операции</h2>

<ul>
    @foreach(string elem in ViewBag.opers)
    {
        <li>
            @Html.Partial("Operation", elem)
        </li>
    }
</ul>