
@{
    ViewBag.Title = "Index";
    var result = ViewBag.result;
    var opername = ViewBag.OperName;
}

<h2>Суперкулькулятур</h2>

<div> 
    <b>@opername</b> (@ViewBag.x,@ViewBag.y) = @(result)
</div>